<template>

    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#" variant="faded" type="light">
                <img src="../assets/logo-winaa.png" width="50" alt="GamBeet">
            </b-navbar-brand>
            <b-navbar-brand href="#">صفحه اصلی</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">ثبت نام</b-nav-item>
                    <b-nav-item href="#" disabled>ورود</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <b-nav-item href="#">رویداد ها</b-nav-item>
                    <b-nav-item href="#">آزمون ها</b-nav-item>
                    <b-nav-item href="#">چند رسانه ای</b-nav-item>
                    <b-nav-item href="#">درباره ما</b-nav-item>
                    <b-nav-item href="#">تماس با ما</b-nav-item>
                    <b-nav-item href="#">پروفایل</b-nav-item>

                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <div class="body-wrapper">

            <div class="carousel-holder">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">


                        <li data-target="#carousel-example"
                            data-slide-to="0"
                            class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#">
                                <img src="../assets/929201990305.jpg" style="width:100%;"/>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 category-holder" style="padding: 0px;">
                        <div class="col-sm-6" style="padding:0px;">
                            <div class="col-sm-12" style="padding: 5px;">
                                <div style="min-heigh: 220px;background-color: #00edf1;border-radius: 5px;overflow:hidden;"
                                     class="fp-item">
                                    <div style="padding: 10px; color: white;overflow:hidden; height:100%;">
                                        <a href="#" style="color:#fff;text-decoration:none">
                                            <img src="../assets/Amoozesh.png"
                                                 style="max-width:150px; max-height:150px;padding-top: 0px;"/>

                                            <h2 style="display:inline-block">
                                                آموزش
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12" style="padding: 5px;">
                                <div style="min-heigh: 220px;background-color: #ffa900;border-radius: 5px;overflow:hidden;"
                                     class="fp-item">
                                    <div style="padding: 10px; color: white;overflow:hidden; height:100%;">
                                        <a href="#" style="color:#fff;text-decoration:none">
                                            <img src="../assets/pazhoohesh.png"
                                                 style="max-width:150px; max-height:150px;padding-top: 0px;"/>

                                            <h2 style="display:inline-block">
                                                پژوهش
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="padding:0px;">
                            <div class="col-sm-12" style="padding: 5px;">
                                <div style="min-heigh: 220px;background-color: #00ad83;border-radius: 5px;overflow:hidden;"
                                     class="fp-item">
                                    <div style="padding: 10px; color: white;overflow:hidden; height:100%;">
                                        <a href="#" style="color:#fff;text-decoration:none">
                                            <img src="../assets/sargarmi.png"
                                                 style="max-width:150px; max-height:150px;padding-top: 0px;"/>

                                            <h2 style="display:inline-block">
                                                بازی سرگرمی
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12" style="padding: 5px;">
                                <div style="min-heigh: 220px;background-color: #ff008a;border-radius: 5px;overflow:hidden;"
                                     class="fp-item">
                                    <div style="padding: 10px; color: white;overflow:hidden; height:100%;">
                                        <a href="#" style="color:#fff;text-decoration:none">
                                            <img src="../assets/arzyabi.png"
                                                 style="max-width:150px; max-height:150px;padding-top: 0px;"/>

                                            <h2 style="display:inline-block">
                                                ارزیابی
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="footer text-center p-2">
            <p>
                کلیه حقوق مادی و معنوی مطالب درج شده در این سایت نزد مجموعه وینا محفوظ بوده و درج و استفاده از مطالب آن
                بدون
                کسب اجازه ممنوع می باشد.
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        props: {
            msg: String
        }
    }
</script>